@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    /* font-family: "Kanit", sans-serif !important; */
    font-family: 'Lexend', sans-serif !important;
    ;
}

#app {
    /* font-family: "Kanit", sans-serif !important; */
    font-family: "Kanit", sans-serif !important;
    font-weight: 400;
}

.hover-text:hover {
    font-weight: 600 !important;
}

.text-lg {
    font-weight: 500;
}

.form-label {
    font-size: 14px !important;
    font-weight: 500 !important;
    color: black !important;
}

.ant-typography,
.ant-btn,
.ant-input,
.ant-input-number,
div,
span {
    /* font-family: "Kanit", sans-serif !important; */
}

/* a tag  */
a,
a:hover,
a:focus {
    color: black;
    font-weight: 600 !important;
}

.ant-btn-primary {
    background-color: #8b3035 !important;
    color: white !important;
}

.ant-btn-primary:hover {
    background-color: #b3484d !important;
}

/* ant list flex col css */
.ant-list-item-extra {
    margin-inline-start: 0px !important;
}

.ant-list-item-meta .ant-list-item-meta-avatar {
    margin-inline-end: 0px !important;
}

/* sidebar box */
.sidebar-box-item {
    margin-bottom: 12px;
    font-weight: normal;
}

/* make image in carousel center */
.slick-slide+div {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

/* header filter item */
.filter-item {
    height: 100%;
}

.filter-item .filter-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border: 1px solid #f2f2f2;
    border-top: none;
    border-bottom: none;
    padding: 0 12px;
    cursor: pointer;
}

.filter-item .filter-item-content:hover {
    background-color: #f2f2f2;
}

/* sidebar filter */
.filter-list-item {
    display: flex;
    align-items: center;
    text-align: start;
    border: none;
    width: 100%;
    padding: 0 12px;
}

.filter-list-item:hover {
    background-color: #f2f2f2;
    border: 0 !important;
}

/* set z-index header under modal  */
.fixed-top {
    z-index: 999 !important;
}

/* card css */
.card {
    /* border: 1px solid #f2f2f2; */
    /* padding: 0px 60px; */
}

#checkbox label {
    font-size: 14px;
    font-weight: 600;
}

/* card image css */
.image-input .image-input-wrapper {
    border-radius: 0.75rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-input {
    position: relative;
    display: inline-block;
    border-radius: 0.75rem;
    background-repeat: no-repeat;
    background-size: cover;
}

/* form */
.form-label {
    margin-bottom: 0.5rem;
    font-size: 1.05rem;
    font-weight: 500;
    color: gray;
}

/* app-container css */
.app-container {
    padding-left: 28px !important;
    padding-right: 28px !important;
    /* margin-top: 28px !important ; */

}


.slick-thumb li {
    width: 150px !important;
    height: auto !important;
    margin: 0 10px;
}


/* priority tag color */

.hot-priority {
    background-image: linear-gradient(to right,
            #ff512f 0%,
            #f09819 51%,
            #ff512f 100%);
    background-size: 200% auto;
    transition: background-position 0.5s;
}

.hot-priority:hover {
    background-position: right center;
}

.high-priority {
    background-image: linear-gradient(to right,
            #16a085 0%,
            #f4d03f 51%,
            #16a085 100%);
    background-size: 200% auto;
    transition: background-position 0.5s;
}

.high-priority:hover {
    background-position: right center;
}

.medium-priority {
    background-image: linear-gradient(to right,
            #e55d87 0%,
            #5fc3e4 51%,
            #e55d87 100%);

    background-size: 200% auto;
    transition: background-position 0.5s;
}

.medium-priority:hover {
    background-position: right center;
}

.low-priority {
    background-image: linear-gradient(to right,
            #16222a 0%,
            #3a6073 51%,
            #16222a 100%);

    background-size: 200% auto;
    transition: background-position 0.5s;
}

.low-priority:hover {
    background-position: right center;
}

/* #header_rank a {
    padding: 0px 20px;
} */
#header_rank {
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
}

#header_rank a {
    font-weight: 600;
}

#radio-buttons label {
    font-weight: 600;
}

#filterrank {
    /* display: none; */
}

#filterrank>div {
    padding-bottom: 6px;
}

#banner-2 {
    display: none;
}

.feature i {
    padding-right: 10px;
}

#lienhe_phone {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#lienhe_phone div:first-child {
    margin-right: 5px;
}

#lienhe_phone>div:nth-child(2)>div {
    background-color: #f0e7e7;
    padding: 6px;
    align-items: center;
    border-radius: 7px;
    margin-right: 15px;
}

#lienhe_phone>div:nth-child(2)>div span {
    margin-left: 5px;
}

#lienhe_phone span {
    background: #009BA1;
    color: #ffff;
    padding: 3px 7px;
    border-radius: 5px;
}

.post_user {
    margin-left: 20px;
}

.footer_mobi {
    display: none;
}
.short-info .feature>div{
    padding: 5px 25px;
}
.demo>div>div:first-child{
    margin-bottom: 10px;
}
.alert.alert-success:empty {
    display: none  !important;
}

.thanhtoan h3, .thanhtoan span{
    padding-bottom: 6px;
}
.checkbox_delet_edit{
    gap: 15px;
}
.checkbox_delet_edit div button{
    padding: 2px 20px;
    border-radius: 5px;
    border: 1px solid;
    background: #8b3035;
    color: #fff;
}

.allpost1{
    margin-bottom: 20px !important;
}
#pendingw760{
    margin: 20px 0px;
}
#pendingw760 .checkbox_delet_edit{
    justify-content: space-around;
    
}
#pendingw760 .checkbox_delet_edit button:first-child{
    padding: 5px 60px;
}

.note_phone{
    display: none;
}
.permission_label{
    margin: 0px;
}
.permission_label>div>div:last-child{
    display: none ;
}
@media (min-width: 769px) {
    .gop{
        display: flex;
        align-items: center;
    }
    .pay{
        display: flex;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .hide-on-mobile {
        display: none !important;
    }

    .ant-table-row-expand-icon {
        display: none !important;
    }

    .title_width.ant-table-cell {
        max-width: 400px;
        width: 400px;
    }

    .views_count_width>div {
        max-width: 100px;
        width: 100px;
    }

    .sold_status-width.ant-table-cell {
        max-width: 100px;
    }

    .detail-width.ant-table-cell {
        max-width: 80px;
    }

    #filterrank {
        display: block;

    }

    .ant-table-row-expand-icon-cell {
        display: none !important;
    }

    .ant-table-tbody tr.ant-table-row td.ant-table-cell:first-child {
        display: none !important;
    }
    #duyettin .ant-table-tbody tr.ant-table-row td.ant-table-cell:first-child {
        display: block !important;
    }

    .reportlisst .ant-table-row-expand-icon-cell {
        display: block !important;
    }

    .reportlisst .ant-table-tbody tr.ant-table-row td.ant-table-cell:first-child {
        display: block !important;
    }

    .user_name {
        width: 250px;
    }

    .user_detail {
        width: 130px;

    }

    .search-address-post {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #banner-1 {
        display: none;

    }

    #banner-2 {
        display: inline-block;
    }

    .short-info {
        margin: 0px !important;

    }

    .short-info .price,
    .short-info .area,
    .short-info .direction {
        display: none;
    }

    .short-info div.feature {

        margin: 0px;
    }

    .short-info .feature div {
        padding: 2px 30px;
        border: 1px solid gray;
        border-radius: 10px;
    }

    .short-info .feature div:first-child {
        margin-left: 30px;
    }

    .short-info .feature div:nth-child(2) {
        margin-left: 20px;
    }

    .short-info .feature div:last-child {
        margin-left: 20px;
        padding: 2px 30px !important;
    }

    .feature {
        padding: 5px;
    }

    #short-info .info {
        padding: 0px 10px;
    }

    .feature td.ant-descriptions-item {
        margin: 0px !important;
    }

    .feature .ant-descriptions-item {
        display: block;
        width: 100%;
        padding: 5px 0px !important;
    }

    .feature .ant-descriptions-item-container {
        display: block;
    }

    .feature .ant-descriptions-item-label {
        display: block;
        font-weight: 500;
    }


    .feature .ant-descriptions-item-content {
        display: block;
        text-align: left;
        margin-top: 5px;
    }

    #addordetailpost {
        margin-top: 60px !important;
        padding: 0px !important;
    }

    #addordetailpost .ant-tabs-nav-wrap {
        padding: 0px 20px !important;
    }

    #title-detail h1 {
        font-size: 20px !important;
    }

    .detail-info {
        margin-top: 20px;
    }

    .product_user {
        display: flex;

    }

    .product_user img {
        height: 189px !important;
    }

    .product_user div.price_area {
        font-size: 13px !important;
    }

    .post_user {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    #report-client {
        margin-top: 30px;
    }

    .back-to-top {
        display: none;
    }

    .footer_mobi {
        display: block;
        z-index: 1000;

    }

    .app-container {
        padding: 0px 15px !important;
    }

    .ant-wave {
        z-index: -1000;
    }

    .checkbox_report {
        align-items: baseline !important;
    }
    .checkbox_sold{
        margin-left: 0px !important;
    }
    #gop_pay{
        display: none !important;
    }
    .trichthuong h3{
        margin-right: 245px !important;
    }
    .mobitrichthuong{
        flex-direction: column;
    }
    .mobiinput{
        flex-wrap: nowrap !important;
    }
    .thanhtoan>div{
        flex-direction: column  !important;
    }
    .thanhtoan .title h3{
        margin-right: 190px !important;
        padding-bottom: 10px;
    }
    .gop{
        flex: 1;
    }
    .gop h3, .pay h3{
        font-size: 13px !important;
    }
    .pay{
        flex: 1;
    }
    .gop_pay{
        gap: 24px;
    }
    .price_post>div:first-child{
        flex: 3;
        margin-right: 20px;
    }
    .price_post>div:last-child{
        flex: 2;
    }

    .floor-room-bath>div>div{
        flex: 1;
    }

    .checkbox_delet_edit {
        margin-top: 10px !important;
        margin-left:  0px !important;
    }
    .checkbox_delet_edit{
        width: 100%;
    }
    .checkbox_delet_edit>div:first-child{
        width: 100%;
        flex: 3;
    }
    .checkbox_delet_edit>div button{
        padding: 7px 20px;
        width: 100%;
    }

    .price_unit>div:first-child{
        flex: 4;
        margin-right: 20px;
    }
    .price_unit>div:last-child{
        flex: 2;
    }
    .checkbox_sold {
        margin-left: 30px !important;
    }
    .allpost1{
        margin-bottom: 30px !important;
    }
    
    #pendingw760 .checkbox_delet_edit button:first-child{
        padding: 5px 50px !important;
    }

    .note {
        display: none !important;
    }

    .note_phone{   
        display: block;
        margin-left: 0px !important;
    }
    .client-list{
        margin-top: 50px ;
    }
    .pressmison_mobi {
        display: flex;
        justify-content: start;;
    }
  


}

@media (max-width: 400px) {

    
    .short-info .feature div {
        padding: 3px 30px;
        border: 1px solid gray;
        border-radius: 10px;
    }

    .short-info .feature div:first-child {
        margin-left: 10px;
    }

    .short-info .feature div:nth-child(2) {
        margin-left: 20px;
    }

    .short-info .feature div:last-child {
        margin-left: 20px;
        padding: 3x 30px !important;
    }
    .short-info .feature div a>span{
        font-size: 20px !important;
    }
    .trichthuong h3{
        margin-right: 205px !important;
    }

    .thanhtoan .title h3{
        margin-right: 152px !important;
        padding-bottom: 10px;
    }

}

